<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency rate</title>
</head>
<body>

<div class="header">
    <h1>Select currency and date for forecast currency rate</h1>

    <form method="post" action="/rate">
        <select name="currency">
            {% for c in currency %}
            <option value="{{ c[0] }}" SELECTED>{{ c[0] }}</option>
            {% endfor %}
        </select>

        <input type="date" id="start" name="date" min="2001-06-23" max="2021-05-04" required/>

        <button type="submit">Generate</button>
    </form>
</div>

<div>{{ date }}</div>
<div>{{ actualRate }}</div>
<div>{{ predictedRate }}</div>
<div>{{ error }}</div>
<div>{{ currency }}</div>
<img src="{{url}}" alt="Chart" height="500px" width="auto">

</body>
</html>